#landingPage{
    padding-top: 150px;
}

.text-align-center{
    text-align: center;
    color: azure;
    padding-top: 50px;
    font-family: "Times New Roman", Times, serif;
    
}

.actions {
    margin: auto;
}