.signup {
    background-color: #eee;
    min-height: 100vh;
    padding-top: 60px;
}

.auth-form {
    margin: 0 auto;
    padding: 50px 35px;
    background-color: #fff;
    border-radius: 4px;
}

.link-auth {
    margin-top: 20px;
    text-decoration: none
}

.brand-name {
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 15px;
    text-align: center;
}

.errors{
    color: red;
}


